body {
  color: #434455;
  font-family: Roboto, sans-serif;
  background-color: #FFF;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.features-text,
.team-list-text,
.portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.features-title,
.team-title,
.portfolio-title {
  color: #2E2F42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.features-header,
.team-list-header,
.portfolio-list-header {
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.logo {
  color: #4D5AE5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-style {
  color: #2e2f42;
}
.header-nav-item {
  color: #2E2F42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.address {
  font-style: normal;
}
.address-list-item {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-list-item:hover,
.address-list-item:focus,
.header-nav-item:focus,
.header-nav-item:hover {
  color: #404bbf;
}
.main-banner {
  background: #2E2F42;
}
.main-banner-header {
  color: #FFF;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.main-banner-btn {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: #4D5AE5;
}
.main-banner-btn:hover ,
.main-banner-btn:focus {
  background-color: #404BBF;
  cursor: pointer;
}
.team {
  background-color: #F4F4FD;
}
.team-list-item {
  background-color: #FFFFFF;
}
.footer {
  background-color: #2E2F42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4D5AE5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

}
.footer-logo-style {
color: #f4f4fd;
}
.footer-text {
  color: #F4F4FD;
  line-height: 1.5;
  letter-spacing: 0.02em;
}